* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

#personal {
    width: 100%;
    height: fit-content;
    background-color: #fff;
}

#persContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 1.5rem;
    width: 95%;
    height: fit-content;
    margin: 0 auto;
}

.persLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40vh;
    background-color: #e6f0ff;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#showBMI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 60%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #f79256;
}

.showBMIText {
    font-size: larger;
    padding: 0.5rem 1rem;
}

#bmiValue {
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem;
}

#checkBMI {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}

#bmiForm, #resetButton {
    margin: 0 auto;
    padding: 1rem 0.5rem;
    background-color: #0080FF;
    width: 95%;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

#bmiForm:hover, #resetButton {
    background-color: #010C80;
    color: #fff;
}

.persRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
}

.persRight h2 {
    font-size: 2rem;
}

#persAdvice {
    width: 100%;
    height: fit-content;
}

.adviceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    padding: 2rem 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-image: linear-gradient(to bottom right, #fff 15%, #e6ffff);
}

.advice {
    width: 95%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.3rem;
}

.adviceIcon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 1.8rem;
}

.bowl {
    padding: 2rem;
    background-color: #ffcce0;
}

.fa-bowl-rice {
    color: #ff0066;
}

.person {
    padding: 2rem;
    background-color: #ffe6cc;
}

.fa-person-walking {
    color: #ff901a;
}

.bed {
    padding: 2rem;
    background-color: #b3ffd9;
}

.fa-bed {
    color: #00e673;
}

.adviceContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}