* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

#personal {
    width: 100%;
    height: fit-content;
    background-color: #fff;
}

#persContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 1.5rem;
    width: 95%;
    height: fit-content;
    margin: 0 auto;
}

.persLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40vh;
    background-color: #e6f0ff;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#showBMI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 60%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #f79256;
}

.showBMIText {
    font-size: larger;
    padding: 0.5rem 1rem;
}

#bmiValue {
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem;
}

#checkBMI {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}

#bmiForm, #resetButton {
    margin: 0 auto;
    padding: 1rem 0.5rem;
    background-color: #0080FF;
    width: 95%;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

#bmiForm:hover, #resetButton {
    background-color: #010C80;
    color: #fff;
}

.persRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
}

.persRight h2 {
    font-size: 2rem;
}

#persAdvice {
    width: 100%;
    height: fit-content;
}

.adviceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    padding: 2rem 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-image: linear-gradient(to bottom right, #fff 15%, #e6ffff);
}

.advice {
    width: 95%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.3rem;
}

.adviceIcon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 1.8rem;
}

.bowl {
    padding: 2rem;
    background-color: #ffcce0;
}

.fa-bowl-rice {
    color: #ff0066;
}

.person {
    padding: 2rem;
    background-color: #ffe6cc;
}

.fa-person-walking {
    color: #ff901a;
}

.bed {
    padding: 2rem;
    background-color: #b3ffd9;
}

.fa-bed {
    color: #00e673;
}

.adviceContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.limContainer {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 auto;
    background-color: #fff;
}

.limTop {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    background-color: #fff;
}

@media (max-width: 599px) {
    .limTopLeft {
        text-align: center;
        line-height: 1.3rem;
        padding: 0.5rem;
    }
}

.limTopLeft h2{
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.limTopRight {
    width: 97%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.lim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 15rem;
    height: fit-content;
    padding: 2rem;
    gap: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 2rem 1rem rgba(81, 78, 250, 0.233), 0 0 0 0 rgba(81, 140, 248, 0.185);
}

.limIcon {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.limIcon h2 {
    font-size: 2rem;
}

.limDown {
    margin: 0 auto;
    width: 93%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.fa-venus-mars {
    color: #ff4000;
}

.fa-children {
    color: #00ffcc;
}

.fa-dumbbell {
    color: #9900cc;
}

.fa-person-pregnant {
    color: #ff751a;
}

.fa-people-arrows {
    color: #ff3399;
}



/* End of mobile section */



/* Start of tablet settings*/

@media (min-width: 600px) and (max-width: 767px) {
    .adviceContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.3rem;
        width: 95%;
        height: fit-content;
        margin: 0 auto;
        padding: 2rem 0.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 2rem;
        background-image: linear-gradient(to bottom right, #fff 15%, #e6ffff);
    }

    .advice {
        width: 95%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .limTopRight {
        width: 97%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin: 0 auto;
    }

    .limDown {
        margin: 0 auto;
        width: 93%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
    
    .lim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 48%;
        height: 15rem;
        padding: 2rem;
        gap: 2rem;
        border-radius: 2rem;
        box-shadow: 0 0.5rem 2rem 1rem rgba(81, 78, 250, 0.233), 0 0 0 0 rgba(81, 140, 248, 0.185);
    }
}


/* desktop section */

@media (min-width: 768px) {
    #persContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 1.5rem;
        width: 90%;
        height: fit-content;
        margin: 1rem auto;
    }
    
    .persLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 60vh;
        background-color: #e6f0ff;
        border-radius: 1.5rem;
        padding: 0.5rem;
        margin-left: 4rem;
    }
    
    #showBMI {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: 60%;
        padding: 1.5rem;
        border-radius: 0.5rem;
        background-color: #f79256;
    }
    
    .showBMIText {
        font-size: larger;
        padding: 0.5rem 1rem;
    }
    
    #bmiValue {
        font-size: 2rem;
        font-weight: 900;
        padding: 1rem;
    }
    
    #checkBMI {
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        width: 60%;
        line-height: 1.3rem;
    }
    
    #bmiForm, #resetButton {
        margin: 0 auto;
        padding: 1rem 0.5rem;
        background-color: #0080FF;
        width: 95%;
        border: none;
        border-radius: 0.5rem;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        cursor: pointer;
    }
    
    #bmiForm:hover, #resetButton {
        background-color: #010C80;
        color: #fff;
    }
    
    .persRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 40%;
        height: 40vh;
        margin: 0 auto;
        padding: 1rem;
        line-height: 1.3rem;
    }
    
    .persRight h2 {
        font-size: 2rem;
    }

    /* advice section */
    .adviceContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 97%;
        height: fit-content;
        margin: 0 auto;
        padding: 5rem 2rem 5rem 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border-radius: 2rem;
        background-image: linear-gradient(to bottom right, #fff 15%, #e6ffff);
    }
    
    .advice {
        width: 30%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.3rem;
        padding: 1rem;
    }
    
    .adviceIcon {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fa-solid {
        font-size: 1.8rem;
    }
    
    .bowl {
        padding: 2rem;
        background-color: #ffcce0;
    }
    
    .fa-bowl-rice {
        color: #ff0066;
    }
    
    .person {
        padding: 2rem;
        background-color: #ffe6cc;
    }
    
    .fa-person-walking {
        color: #ff901a;
    }
    
    .bed {
        padding: 2rem;
        background-color: #b3ffd9;
    }
    
    .fa-bed {
        color: #00e673;
    }
    
    .adviceContent {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .limContainer {
        width: 95%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 34rem;
        margin: 0 auto;
        background-color: #fff;
        position: relative;
    }
    
    .limTop {
        width: 95%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto;
        background-color: #fff;
    }
    
    .limTopLeft {
        width: 40%;
        line-height: 1.3rem;
        padding: 0.5rem;
        margin-left: 3rem;
    }
    
    .limTopLeft h2{
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }
    
    .limTopRight {
        width: 40%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        margin: 0 auto;
    }


    .limDown {
        margin: 0 auto;
        width: 93%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
    
    .lim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 48%;
        height: 15rem;
        padding: 2rem;
        gap: 2rem;
        border-radius: 2rem;
        box-shadow: 0 0.5rem 2rem 1rem rgba(81, 78, 250, 0.233), 0 0 0 0 rgba(81, 140, 248, 0.185);
    }

    .gender {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 15rem;
        padding: 2rem;
        gap: 2rem;
        margin-right: 6rem;
        border-radius: 2rem;
        box-shadow: 0 0.5rem 2rem 1rem rgba(81, 78, 250, 0.233), 0 0 0 0 rgba(81, 140, 248, 0.185);
    }

    .age {
        width: 35%;
        position: absolute;
        z-index: 1;
        right: 32rem;
        top: 16.5rem;
        background-color: #fff;
    }

    .muscle {
        width: 36%;
        position: absolute;
        z-index: 1;
        right: 1.5rem;
        top: 16.5rem;
        background-color: #fff;
    }

    .pregnancy {
        width: 36%;
        position: absolute;
        z-index: 1;
        right: 45rem;
        top: 33.1rem;
        background-color: #fff;
    }

    .race {
        width: 36%;
        position: absolute;
        z-index: 1;
        right: 14.5rem;
        top: 33.1rem;
        background-color: #fff;
    }

}