* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

#header {
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to bottom right, #fff, #a3f7ff);
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1.5rem;
    width: 95%;
    margin: 0 auto;
    height: fit-content;
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 3.50rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.headerLogo {
    width: 11.75rem;
    height: 3.38rem;
}

.headerLogo img {
    width: 100%;
    height: 100%;
}

.headerTop a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #0080FF;
}

.headerTop a:hover {
    color: #010C80;
    text-decoration-line: underline;
    text-decoration-color: #0080FF;
    text-underline-offset: 1rem;
}

.headerMenu ul {
    display: none;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 1rem;
}

.headerMenu li:not(:last-child) {
    margin-right: 2.7rem;
}

#mobileMenu {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
}

.mobileMenuIcon {
    color: #010C80;
    width: 2rem;
    height: 3rem;
}


#overlay {
    display: none;
    width:60%;
    height: fit-content;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    text-align: center;
    background-color: rgba(0, 50, 200, 0.8);
}

.overlayNav {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.overlayNav li {
    list-style: none;
}

.overlayNav li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.overlayNav a {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}

.overlayClose {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    color: #fff;
}

.closeIcon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.headerBottom {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
}

.headerInfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.headerInfo a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
}

.heroButton {
    margin: 0 auto;
    padding: 1rem 0.5rem;
    background-color: #0080FF;
    width: 70%;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}

.heroButton:hover {
    background-color: #010C80;
    color: #fff;
}

.headerImage {
    width: 100%;
    height: auto;
}

.headerImage img {
    width: 100%;
    height: 100%;
}

#bmiWelcome {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem 3.3rem 3.3rem 0.4rem;
    background-color: #0650d0;
    color: #fff;
}

#result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem 3.3rem 3.3rem 0.4rem;
    background-color: 	#00b359;
    color: #fff;
}

#bmiResult {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.formRadioButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.formRadioButton div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.formRadioButton input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
}

/* metric field settings */
#metricFields {
    display: none;
    gap: 2rem;
}

#metricFields div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
}

#metricFields input[type="number"] {
    width: 35vw;
    height: 2.5rem;
    border: 0.02rem solid #bfbfbf;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: large;
}

/* standard fields settings */

#standardFields {
    display: flex;
    gap: 2rem;
}

#standardFields div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.stdHeight {
    display: flex;
    flex-direction: row !important;
}

#standardFields input[id="feet"], #standardFields input[id="inches"] {
    width: 20vw;
    height: 2.5rem;
    border: 0.02rem solid #bfbfbf;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: large;
}

#standardFields input[id="weight"] {
    width: 30vw;
    height: 2.5rem;
    border: 0.02rem solid #bfbfbf;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: large;
}


.bmiButton {
    margin: 0 auto;
    padding: 1rem 0.5rem;
    background-color: #0080FF;
    width: 95%;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.bmiButton:hover {
    background-color: #010C80;
    color: #fff;
}

.openBMIPage {
    margin: 0 auto;
    padding: 0.7rem 0.5rem;
    margin-top: 0.8rem;
    background: none;
    width: 95%;
    border: 0.031rem solid #e6e600;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    cursor: pointer;
}

.openBMIPage:hover {
    background-color: #33cc33;
    color: #fff;
}

.footer {
    width: 100%;
    height: fit-content;
    padding: 3rem 0 2rem 0;
}

.copyright {
    width: fit-content;
    padding-top: 1.7rem;
    margin: 0 auto;
}

/* mobile specific styling */
@media (max-width:767px) {
    #bmi {
        width: 100%;
        height: fit-content;
    }
    
    #bmiSectionContainer {
        margin: 0 auto;
        padding-bottom: 1.5rem;
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
    }
    
    .leftContainer {
        padding-top: 1rem;
        width: 100%;
        height: fit-content;
        padding-bottom: 60%;
        border-radius: 0 0 1.5rem 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-image: linear-gradient(to bottom right, #fff, #cde4f4);
    }
    
    .bmiInfo {
        width: 90%;
        height: fit-content;
        margin: 0 auto;
        padding: 0.7rem;
        text-align: center;
    }
    
    .bmiInfo h2 {
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: 1.2rem;
    }
    
    .rightContainer {
        width: 100%;
        height: 40vh;
        display: block;
        background-color: #fff;
    }

    .bmiFormContainer {
        position: absolute;
        top: 47%;
        z-index: 1;
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0.8rem;
        padding-bottom: 2rem;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 0.5rem 2rem 1rem rgba(81, 78, 250, 0.233), 0 0 0 0 rgba(81, 140, 248, 0.185);
    }
}



/* End of mobile first styling */


/* Beginning of desktop styling */

@media (min-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .headerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
        width: 92%;
        margin: 0 auto;
        height: fit-content;
    }

    .headerTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.50rem;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .headerMenu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .headerBottom {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    
    .headerInfo {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .headerInfo a {
        text-decoration: none;
        line-height: 2.5rem;
        font-weight: 600;
        text-align: center;
    }
    
    .heroButton {
        width: 50%;
        padding: 1rem 0.7rem;
        margin-top: 2rem;
        background-color: #0080FF;
        color: #fff;
        border-radius: 0.5rem;
    }

    .headerLogo {
        width: 13.95rem;
        height: 3.38rem;
    }
    
    .headerLogo img {
        width: 100%;
        height: 100%;
    }

    #mobileMenu, #overlay, .mobileMenuIcon {
        display: none;
    }

    .headerImage {
        width: 50%;
        height: auto;
    }
    
    .headerImage img {
        width: 100%;
        height: 100%;
    }

    #bmi {
        width: 100%;
        height: fit-content;
    }
    
    #bmiSectionContainer {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 1.5rem;
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
    }
    
    .leftContainer {
        width: 70%;
        height: 90vh;
        border-radius: 0 0 1.5rem 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-image: linear-gradient(to bottom right, #fff, #cde4f4);
    }
    
    .bmiInfo {
        width: 60%;
        height: fit-content;
        margin: 0 auto;
        padding-right: 3rem;
    }
    
    .bmiInfo h2 {
        font-size: 3.5rem;
        font-weight: 600;
        padding-bottom: 2rem;
    }
    
    .rightContainer {
        width: 30%;
        height: 90vh;
        display: block;
        /* border: 1px solid #000; */
    }
    
    .bmiFormContainer {
        position: absolute;
        z-index: 1;
        right: 10%;
        width: 35%;
        height: fit-content;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0.8rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 2rem 1rem rgba(81, 78, 250, 0.233), 0 0 0 0 rgba(81, 140, 248, 0.185);
    }

    #result {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* gap: 1rem; */
        width: 95%;
        height: auto;
        margin: 0 auto;
        padding: 1rem 1.5rem;
        border-radius: 0.4rem 3.3rem 3.3rem 0.4rem;
        background-color: 	#00b359;
        color: #fff;
    }
    
    #bmiResult {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 2.5rem;
    }
    
    .formRadioButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6rem;
        font-size: 0.8rem;
        font-weight: 600;
    }
    
    .formRadioButton div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    
    .formRadioButton input[type="radio"] {
        width: 1.5rem;
        height: 1.5rem;
    }
    
    /* metric field settings */
    #metricFields {
        display: none;
        gap: 2rem;
    }
    
    #metricFields div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    
    #metricFields input[type="number"] {
        width: 80%;
        height: 2.5rem;
        border: 0.02rem solid #bfbfbf;
        border-radius: 0.3rem;
    }
    
    /* standard fields settings */
    
    #standardFields {
        display: flex;
        gap: auto;
    }
    
    #standardFields div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    
    .stdHeight {
        display: flex;
        flex-direction: row !important;
        width: 56%;
    }

    .stdHeightFeet, .stdHeightInches {
        width: 50%;
    }

    .stdWeight {
        width: 40%;
    }
    
    #standardFields input[id="feet"] {
        width: 100%;
        height: 2.5rem;
        border: 0.02rem solid #bfbfbf;
        border-radius: 0.3rem;
    }

    #standardFields input[id="inches"] {
        width: 100%;
        height: 2.5rem;
        border: 0.02rem solid #bfbfbf;
        border-radius: 0.3rem;
    }
    
    #standardFields input[id="weight"] {
        width: 100%;
        height: 2.5rem;
        border: 0.02rem solid #bfbfbf;
        border-radius: 0.3rem;
    }
    
    
    .bmiButton {
        margin: 0 auto;
        padding: 1rem 0.5rem;
        background-color: #0080FF;
        width: 95%;
        border: none;
        border-radius: 0.5rem;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
    }
    
    .bmiButton:hover {
        background-color: #010C80;
        color: #fff;
    }
}